<div class="row highlight section_container">
    <div class="d-flex align-items-center col-md-3">
        <div class="category_block">
            <h3 class="lh-sm">Les mieux notés</h3>
            <ul class="list-group list-group-flush my-4">
                {% for item in bestRateLinks %}
                    {{  include('menu/components/sidebar_link_element.html.twig',
                            {'item': item, 'path': 'app_product_show' }
                    )}}

                {% endfor %}
            </ul>
            <a href="{{ path('app_product_index') }}" class="btn btn-outline-success  ">Plus de produits<i
                    class="bi bi-chevron-right"></i></a>
        </div>
    </div>
    <div class="row col-md-9">
        {% for item in bestRateCards %}
            {% set count = count + 1 %}
            {{
                include('home/components/product-card.html.twig',
                    {'item': item, 'count': count})
            }}
        {% endfor %}
    </div>
</div>