{% extends 'base.html.twig' %}

{% block title %}DrumZone, la marketPlace du batteur{% endblock %}


{% block body %}

<div class="col-md-3 homeSidebar">
    <h3>Categories</h3>
    <ul>
        {% for category in categories %}
            <li><a href="{{ path('app_category_show', {'id': category.id}) }}">{{ category.name }}</a></li>
        {% endfor %}
</div>
<main class="col-md-9 mainContent">

</main>

{% endblock %}
