{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="container-xxl">
    <h1>Hello {{ name }}! ✅</h1>

    This friendly message is coming from: {{ randomNumber}}

</div>
{% endblock %}
