{% extends 'base.html.twig' %}

{% block title %}DrumZone, la marketPlace du batteur{% endblock %}


{% block body %}
<div class="row">
{# {{ include('home/partials/_sidebar.html.twig') }} #}


<main class=" mainContent">
{% set count = 0 %}
{% include 'home/partials/_highlight_block.html.twig' %}
{% include 'home/partials/_sales_block.html.twig' with {'count': count} %}
{% include 'home/partials/_rates_block.html.twig' with {'count': count} %}


<div class="row testimonials section_container">
    <h2 class="text-start">Nos clients témoignent</h2>
</div>
<div id="carouselControls" class="carousel slide w-100" data-ride="carousel">
    <div class="slider_testimony">
        <div>your content</div>
        <div>your content</div>
        <div>your content</div>
    </div>
</div>
</main>
</div>
{% endblock %}
