{% block body %}
{# {{dump(products)}} #}
<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <h5>DrumZone</h5>
                <p>DrumZone est une plateforme de vente en ligne de batteries et accessoires pour batteurs.</p>
            </div>
        </div>
        <div class="row">   
            <div class="col-12">
                <h3>Tags Produits</h3>
                {# {% for item in products %}
                    <span class="badge bg-secondary">{{ item.name }}</span>
                {% endfor %} #}
            </div>
{% endblock %}