{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1 class="mb-5">Les catégories de materiel</h1>
    <div class="row ">
        {% for category in categories %}
            {% set count = loop.index %}
            {{
                include('category/components/category-card.html.twig',
                    {'item': category, 'count': count})

            }}
        {% endfor %}
    </div>
{% endblock %}
