<div class="col-md-6 ">
    <div class="card highlight-card mb-4 shadow-sm" style="
        background-image:url('https://loremflickr.com/320/240');
        background-position: top;
        aspect-ratio:3/2;
        background-blend-mode: multiply;
        background-size: cover;"
    >
    {# <div class="card highlight-card mb-4 shadow-sm" style="aspect-ratio:3/2"> #}
        <div class="card-body p-4 d-flex flex-column justify-content-between">
            <div class="infos_content pt-4">
                <p class="card-text text-success">En ce moment</p>
                <h2 class="card-title">{{ item.name| capitalize}}</h2>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-outline-success mt-3">
                    <a href="{{ path('app_product_show', {'id': item.id}) }}" class="text-decoration-none text-dark fw-bold">En savoir plus<i class="bi bi-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
