<div class="col-3 mb-4">
    <div class="card h-100 relative">
        <img src="https://picsum.photos/200/200?grayscale&random={{ count }}" class="card-img-top p-3" alt="..." style="aspect-ratio:3/2">
        <div class="card-body">
            <h5 class="card-title">{{item.name|capitalize}}</h5>
        </div>
        <div class="card-footer d-flex align-items-center py-2">
            <a href="{{ path('app_category_products', {'id': item.id}) }}" class="btn btn-success ms-auto">Voir la catégorie</a>
        </div>
    </div>
</div>